body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    min-height: 100vh;
}

div .background {
    background: blue;
    width: 100px;
    border-radius: 22px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0 20px;
}
